@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== Base Styles ==== */
@layer base {
  /* body 기본 margin 제거 */
  body {
    @apply m-0;
  }
}

/* ==== Custom Utilities ==== */
@layer utilities {
  /* 스크롤바 숨기기 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}